.dot{
    display:inline-block;
    width:10px;
    height: 10px;
    border-radius: 10px;
}
.dot.LOW{
    background-color: rgb(230, 31, 31);
}
.dot.MEDIUM{
    background-color: rgb(236, 236, 8);
}
.dot.GOOD{
    background-color: rgb(42, 143, 42);
}
.hide{
    display: none;
}
.price{
    font-size: 50%;
}
.seat{
    display:inline-block;
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 10px;
    background-color: #DDDDDD;
}
.seat.available{
    background-color: #c680ff;
}
.seat.Z26B3B1C1-9DF2-404D-B1B4-7F2CAE103B73.available{
    background-color: red;
}
.seat.available.Z12B44C00-FEA3-4B1C-A903-183B4BF65BF6{
    background-color: yellow;

}


.seat.Z12B44C00-FEA3-4B1C-A903-183B4BF65BF6.available{
    background-color: rgb(41, 23, 143);
}
.box{
    width:100%;
    height:100%;
    /* border:solid thin black; */
    /* border-radius: 10px; */
}
.Evening{
   
}
.Matinee{

}
/* ---------------- calendar -------------- */
#calendar{
    text-align: center;
    background-color: rgba(78, 212, 150, 0.616);
    display: inline-block;
    width: 1000px;
    height: 900px;
    margin-left: 10%;
    padding-left: 20px;
    border-radius: 1%;
}
#tab{
    width: 90%;
    height: 90%;
    border-spacing: 9px;
    border-collapse: separate;

    /* display: inline-block; */
    /* padding: 100px; */

    /* position: absolute; */
    

}
#tab td{
    width: 10%;
    height: 5%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 8%;
    
    
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(25px);
    
    justify-content: center;
    align-items: center;
    text-align: left;
    vertical-align: super;
    padding: 10px;
    font-weight: 500;

    /* list-style-type: decimal-leading-zero; */

    /* position: relative; */
    /* display: flex;  */
    /* display: inline-block; */
    /* margin-top: 10px; */
    /* display: inline; */
    /* padding-top: 1px; */



}
#tab tr{
    width: 10%;
    height: 5%;
    cursor: pointer;
    /* padding-top: 5px; */
    /* display: inline-flex */
    /* display: block; */
}
#tab th{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    
} 

/* --------------- table div adjustment ------------ */
/* #firstdiv{
    background-color: #2f2d97;
    color: aqua;
    padding-top: 100px;
}  */
#maindiv{
    /* background-color: rgb(211, 231, 218); */
    height: 40%;
    /* position: relative; */
    padding-left: 5%;
    
    
}
#maindiv :first-child {
    /* background-color: red; */
    font-weight: 500;
    
   
    



}
#maindiv :last-child{
    /* background-color: aquamarine; */
    /* display: inline-block; */
    font-size: 12px;
    
    /* padding-left: 20px; */
    
    
    
    
}
.daynum{
    /* background-color: #2f2d97; */
    width: 100%;
    height: 30%;
    font-size: 20px;
}
#secdiv{
    /* background-color: #DDDDDD; */
    padding-left: 15%;
    /* width: 100%; */
    display: inline-block;
    letter-spacing: 0.1em;
}