<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Padauk:wght@400;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/lionking.js" defer></script>
    <script>let dateInput =`{{dateData}}`</script>
    <link rel="stylesheet" href="/static/lionking.css">
    
    <title>Lionking</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="img"><img src="/static/photo/atg.png" alt="atg"></div>
        </header>
        <section class="bdy">
            <div class="bdsection" id="bdsection">
                <div class="butdiv" id="butdiv">
                    <div class="butone">
                   
                        <a id="prev">  <i class="fa-solid fa-circle-chevron-left"></i></a>
                    </div>
                    <div id="mthName"></div>
                    <div class="buttwo">
                        <a id="next">  <i class="fa-solid fa-circle-chevron-right"></i></a>
                       
                    </div>
                </div>
                <div class="status" id="status">
                    <p class="avail">Availability</p>
                    <p class="pone"><i class="fa-solid fa-circle sone"></i>Good</p>
                    <p class="ptwo"><i class="fa-solid fa-circle stwo"></i>Medium</p>
                    <p class="pthree"><i class="fa-solid fa-circle sthree"></i>Low</p>
                    
                </div>
                <div id="calendar">
                    <div class="tabdiv">
                        <table id="tab"></table>
                    </div>
                    
                    <div class="lion" id="lion">
                        <div class="text">
                            <P class="disney">Disney's The Lion King<P>
                            <p class="theature">Lyceum Theature</p>
                        </div>
                        
                    </div>
                </div>
                <div class="row" id="seatrow">
                    
                    <div id="seats" class="col-9"></div>
                    
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasRightLabel">Seat Booking</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                    <div class="offcanvas-body" id="offbody">
                        <table class="table datatable">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Seat Label</th>
                                <th scope="col">State</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr id="trRow"></tr>
                                <tr>
                                    <th colspan="3" class="btnConfirm"><button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="offcanvas" aria-label="Close" id="confimrbtn">Confirm</button></th>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                    </div>

                    <div id="price" class="col-3">
                        <table class="table finalOrder">
                            <thead class="thead-light">
                              <tr class="table-info">
                                <th scope="col" colspan="3" class="disneyheader">Disney's The Lion King<br><p>(Lyceum Theature) <br><h7 id="performanceTime"></h7></p></th>
                              </tr>
                            </thead>
                            <tbody id="tableComfirmData">

                            </tbody>
                            <tbody>
                                <tr class="table-info totTable">
                                    <th colspan="2">Total Price</th>
                                    <th id="totalPrice"></th>
                                </tr>
                                <tr class="table-info">
                                    <th colspan="3"><button type="button" class="btn btn-danger btn-sm order">Reserve seats and continue</button></th>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                

            </div>
        </section>
    </div>
</body>
</html>